.header {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.inputText {
    border: 1px solid black;
}

.inputBtn {
    max-width: fit-content;
    cursor: pointer;
}

span {
    color: black;
}